@charset "UTF-8";

#filme-central{
    display: block;
    position: relative;
    width: 450px;
    height: 350px;
}

#filme-lateral01{
    display: block;
    width: 351px;
    height: 300px;
    left: 3px;
    margin:0px;
    padding:5px 0px 5px 0px;
    position: relative;
} 
#filme-lateral02{
    display: block;
    width: 351px;
    height: 300px;
    left: 3px;
    margin:-55px 0px 5px 0px;
    padding:5px 0px 5px 0px;
    position: relative;
}

